<div class="wrapper">
	<h2>{{project.name}} : эндпоинты ({{endpoints.length}})</h2>
	<ul>
		<li><span class="italic">ID проекта:</span> <span class="">{{project._id}}</span></li>
		<li><span class="italic">Base URL:</span> <span class="">{{project.baseUrl}}</span></li>
	</ul>
	<a class="add-endpoint modern-button" href="/console/edit?entity=endpoint&action=add&project={{project._id}}">Добавить эндпоинт</a>
</div>

{{#each endpoints}}
	<div class="wrapper">
		<table style="width: 100%">
		    <colgroup>
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 70%;">
		    </colgroup>
		    
		    <tbody>
		        <tr>
		        	<td><span class="mono">{{this._id}}</span></td>
					<td><span class="mono" style="text-transform: uppercase;">{{this.method}}</span></td>
		    		<td><span class="mono">/site/{{this.project.baseUrl}}</span><span class="mono bold">/{{this.url}}</span> <a target=”_blank” href="/site/{{this.project.baseUrl}}/{{this.url}}">→</a></td>
		    		<td><a class="edit-endpoint" href="/console/edit?entity=endpoint&action=edit&project={{project._id}}&id={{this._id}}">ред</a></td>
		    		<td><a class="remove-endpoint" href="#">x</a></td>
		        </tr>
		    </tbody>
		</table>

		<br />

		<details>
			<summary>Сниппетов {{this.snippets.length}}</summary>
			{{#each this.snippets}}
				<div class="snippet">
					<table style="width: 100%">
					    <colgroup>
					       <col span="1" style="width: 20%;">
					       <col span="1" style="width: 70%;">
					       <col span="1" style="width: 10%;">
					    </colgroup>
					    
					    <tbody>
					        <tr>
					        	<td>{{this._id}}</td>
								<td><span class="italic">{{this.name}}</span></td>
					    		<td><a href="/console/snippets/{{this._id}}">Редактировать</a></td>
					        </tr>
					    </tbody>
					</table>

					<pre>{{this.code}}</pre>
				</div>
			{{/each}}
		</details>
	</div>
{{/each}}