<div class="wrapper">
	<h2>{{project.name}} : эндпоинты ({{endpoints.length}})</h2>
	<ul>
		<li>ID проекта: <span class="bold">{{project._id}}</span></li>
		<li>Base URL: <span class="bold">{{project.baseUrl}}</span></li>
	</ul>
</div>

{{#each endpoints}}
	<div class="wrapper">
		<h3>{{this._id}}</h3>
		<table style="width: 100%">
		    <colgroup>
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 70%;">
		       <col span="1" style="width: 15%;">
		    </colgroup>
		    
		    <tbody>
		        <tr>
					<td><span class="mono" style="text-transform: uppercase;">{{this.method}}</span></td>
		    		<td><span class="mono">{{this.url}}</span></td>
		        </tr>
		    </tbody>
		</table>

		<br />

		<details>
			<summary>Сниппетов {{this.snippets.length}}</summary>
			{{#each this.snippets}}
				<div class="snippet">
					<h4>{{this._id}}</h4>
					<p class="italic">{{this.name}}</p>
					<pre>{{this.code}}</pre>
				</div>
			{{/each}}
		</details>
	</div>
{{/each}}
