<div class="wrapper">
	<h2>Проекты</h2>
	<table style="width:100%">
		{{#each projects}}
			<tr>
				<td><span class="">{{this._id}}</span></td>
		    	<td><a class="project-link" href="/console/projects/{{this._id}}">{{this.name}}</a></td>
	    		<td><a class="edit-project" href="#">ред</a></td>
	    		<td><span class="project-endpoint italic">эндпоинтов</span> <span class="bold">{{this.endpoints.length}}</span></td>
	    		<td><span class="project-base-url">{{this.baseUrl}}</span></td>
	    		<td><a class="remove-project" href="#">x</a></td>
		    </tr>
		{{/each}}
	</table>

	<a class="add-project modern-button" href="/console/edit?entity=project&action=add">Добавить проект</a>
</div>